body {
  margin: 0;
  font-family: 'EarthOrbiter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: "EarthOrbiter";
  src: local("EarthOrbiter"),
   url("./fonts/EarthOrbiter/earthorbiterbold.ttf") format("truetype");
  font-weight: bold;
  }
  